<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4>{{titulo}}</h4>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="formulario"  (ngSubmit)="enviar()">
            <div class="form-group" *ngIf="!novo">
                <label for="id">Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  readonly
                  formControlName="id"
                />    
            </div>
            <div class="form-group">
                <label for="nivel">Nível</label>
                <input type="text" class="form-control" name="nivel" id="nivel" formControlName="nivel" required>
                <!-- <p class="text-danger">Campo Requerido</p> -->
            </div>
            <input type="submit" class="btn btn-primary mt-4" value="Salvar">
            <a href="/nivel" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
        </form>
    </div>
</div>